CONFIG_ARM=y
CONFIG_ARM_LINUX=y

#
# System Type
#
CONFIG_BUILTIN_DTB=y
CONFIG_BUILTIN_DTB_NAME="netx4000/nxhx4000-jtag-plus-rev2"
CONFIG_ARCH_NETX4000=y

#
# Processor Type
#
CONFIG_CPU_32=y
CONFIG_CPU_V7=y
CONFIG_CPU_32v7=y

#
# processor features
#
CONFIG_ARCH_HAS_L2X0=y
CONFIG_CACHE_L2X0=y
CONFIG_ARCH_TEXT_BASE=0x05000000
CONFIG_BAREBOX_MAX_IMAGE_SIZE=0x70000

#
# netX4000 Options
#
CONFIG_MACH_NETX4000=y
CONFIG_DDR_RAM_AS4C512M16D3L_12=y
CONFIG_DDR400_RAM_INCLUDE="mach/as4c512m16d3l-12-400mhz.h"
CONFIG_DDR600_RAM_INCLUDE="mach/as4c512m16d3l-12-600mhz.h"
CONFIG_ENABLE_DDR_ECC=y
CONFIG_ARM_ASM_UNIFIED=y
CONFIG_AEABI=y
CONFIG_SWFPUABI=y
CONFIG_FPUTYPE="neon"
CONFIG_THUMB2_BAREBOX=y

#
# ARM specific settings
#
CONFIG_ARM_OPTIMZED_STRING_FUNCTIONS=y
CONFIG_ARM_EXCEPTIONS=y
CONFIG_DEFCONFIG_LIST="$ARCH_DEFCONFIG"
CONFIG_GREGORIAN_CALENDER=y
CONFIG_GENERIC_GPIO=y
CONFIG_BLOCK=y
CONFIG_BLOCK_WRITE=y
CONFIG_FILETYPE=y
CONFIG_BINFMT=y
CONFIG_UIMAGE=y
CONFIG_FITIMAGE=y
CONFIG_FITIMAGE_SIGNATURE=y
CONFIG_STDDEV=y

#
# General Settings
#
CONFIG_LOCALVERSION=""
CONFIG_LOCALVERSION_AUTO=y
CONFIG_BANNER=y
CONFIG_MEMINFO=y
CONFIG_ENVIRONMENT_VARIABLES=y
CONFIG_GLOBALVAR=y
CONFIG_NVVAR=y

#
# memory layout
#
CONFIG_HAVE_PBL_IMAGE=y
CONFIG_HAVE_IMAGE_COMPRESSION=y
CONFIG_MMU=y
CONFIG_HAVE_CONFIGURABLE_TEXT_BASE=y
CONFIG_TEXT_BASE=0x05000000
CONFIG_BAREBOX_MAX_BARE_INIT_SIZE=0xffffffff
CONFIG_STACK_SIZE=0x4000
CONFIG_MALLOC_SIZE=0x04000000
CONFIG_MALLOC_DLMALLOC=y
CONFIG_PROMPT="barebox:"
CONFIG_BAUDRATE=115200
CONFIG_SIMPLE_READLINE=y
CONFIG_CBSIZE=1024
CONFIG_SHELL_HUSH=y
CONFIG_GLOB=y
CONFIG_PROMPT_HUSH_PS2="> "
CONFIG_CMDLINE_EDITING=y
CONFIG_AUTO_COMPLETE=y
CONFIG_DYNAMIC_CRC_TABLE=y
CONFIG_ERRNO_MESSAGES=y
CONFIG_TIMESTAMP=y
CONFIG_BOOTM=y
CONFIG_BOOTM_INITRD=y
CONFIG_BOOTM_OFTREE=y
CONFIG_BOOTM_FITIMAGE=y
CONFIG_BOOTM_FITIMAGE_SIGNATURE=y
CONFIG_FLEXIBLE_BOOTARGS=y
CONFIG_CONSOLE_FULL=y
CONFIG_CONSOLE_ACTIVATE_FIRST=y
CONFIG_PARTITION=y
CONFIG_PARTITION_DISK=y
CONFIG_PARTITION_DISK_DOS=y
CONFIG_ENV_HANDLING=y
CONFIG_DEFAULT_ENVIRONMENT=y
CONFIG_DEFAULT_COMPRESSION_LZO=y
CONFIG_DEFAULT_ENVIRONMENT_GENERIC=y
CONFIG_DEFAULT_ENVIRONMENT_PATH="arch/arm/boards/netx4000/env"
CONFIG_POLLER=y

#
# Debugging
#
CONFIG_COMPILE_LOGLEVEL=6
CONFIG_DEFAULT_LOGLEVEL=7
CONFIG_DEBUG_INFO=y
CONFIG_COMMAND_SUPPORT=y
CONFIG_COMPILE_HASH=y
CONFIG_COMPILE_MEMORY=y

#
# Commands
#

#
# Information
#
CONFIG_CMD_ARM_CPUINFO=y
CONFIG_CMD_DEVINFO=y
CONFIG_CMD_DRVINFO=y
CONFIG_CMD_HELP=y
CONFIG_LONGHELP=y
CONFIG_CMD_VERSION=y

#
# Boot
#
CONFIG_CMD_BOOT=y
CONFIG_CMD_BOOTM=y
CONFIG_CMD_BOOTU=y
CONFIG_CMD_BOOTZ=y

#
# Partition
#
CONFIG_CMD_PARTITION=y
CONFIG_CMD_MOUNT=y
CONFIG_CMD_UMOUNT=y

#
# Environment
#
CONFIG_CMD_EXPORT=y
CONFIG_CMD_GLOBAL=y
CONFIG_CMD_LOADENV=y
CONFIG_CMD_PRINTENV=y
CONFIG_CMD_MAGICVAR=y
CONFIG_CMD_MAGICVAR_HELP=y
CONFIG_CMD_SAVEENV=y

#
# File
#
CONFIG_CMD_CAT=y
CONFIG_CMD_CD=y
CONFIG_CMD_CP=y
CONFIG_CMD_DIGEST=y
CONFIG_CMD_LS=y
CONFIG_CMD_MKDIR=y
CONFIG_CMD_PWD=y
CONFIG_CMD_READLINK=y
CONFIG_CMD_RM=y
CONFIG_CMD_RMDIR=y
CONFIG_CMD_SHA256SUM=y
CONFIG_CMD_SHA512SUM=y

#
# Shell scripting
#
CONFIG_CMD_FALSE=y
CONFIG_CMD_GETOPT=y
CONFIG_CMD_TEST=y
CONFIG_CMD_TRUE=y

#
# Network
#
CONFIG_CMD_DHCP=y
CONFIG_CMD_HOST=y
CONFIG_NET_CMD_IFUP=y
CONFIG_CMD_PING=y

#
# Console and Framebuffer interaction
#
CONFIG_CMD_CLEAR=y
CONFIG_CMD_ECHO=y
CONFIG_CMD_ECHO_E=y
CONFIG_CMD_EDIT=y
CONFIG_CMD_TIMEOUT=y

#
# Memory
#
CONFIG_CMD_CRC=y
CONFIG_CMD_CRC_CMP=y
CONFIG_CMD_MD=y
CONFIG_CMD_MEMCMP=y
CONFIG_CMD_MEMCPY=y
CONFIG_CMD_MEMSET=y
CONFIG_CMD_MW=y

#
# Hardware manipulation
#
CONFIG_CMD_FLASH=y
CONFIG_CMD_I2C=y
CONFIG_CMD_USB=y

#
# Miscellaneous
#
CONFIG_NET=y
CONFIG_NET_RESOLV=y
CONFIG_NET_IFUP=y
CONFIG_NET_DHCP=y

#
# Drivers
#
CONFIG_OFTREE=y
CONFIG_OFTREE_MEM_GENERIC=y
CONFIG_DTC=y
CONFIG_OFDEVICE=y
CONFIG_OF_NET=y
CONFIG_OF_GPIO=y
CONFIG_OF_BAREBOX_DRIVERS=y
CONFIG_OF_BAREBOX_ENV_IN_FS=y
CONFIG_ARM_AMBA=y

#
# serial drivers
#
CONFIG_SERIAL_AMBA_PL011=y

#
# Network drivers
#
CONFIG_DRIVER_NET_GMAC_NETX4000=y

#
# phylib
#
CONFIG_PHYLIB=y
CONFIG_MDIO_BITBANG=y
CONFIG_MDIO_GPIO=y

#
# SPI drivers
#
CONFIG_SPI=y

#
# I2C Hardware Bus support
#
CONFIG_I2C=y
CONFIG_I2C_NETX4000=y

CONFIG_DISK=y
CONFIG_DISK_WRITE=y

#
# interface types
#
CONFIG_USB=y
CONFIG_USB_HOST=y
CONFIG_USB_EHCI=y
CONFIG_USB_EHCI_NETX4000=y
CONFIG_USB_STORAGE=y

CONFIG_MCI=y
CONFIG_MCI_STARTUP=y
CONFIG_MCI_INFO=y
CONFIG_MCI_WRITE=y

#
# --- MCI host drivers ---
#
CONFIG_MCI_NETX4000=y
CONFIG_HAVE_CLK=y
CONFIG_CLKDEV_LOOKUP=y
CONFIG_COMMON_CLK=y
CONFIG_COMMON_CLK_OF_PROVIDER=y
CONFIG_CLOCKSOURCE_DUMMY_RATE=1000
CONFIG_CLOCKSOURCE_NETX4000=y

#
# Misc devices
#
CONFIG_SRAM=y


#
# GPIO
#
CONFIG_GPIOLIB=y
CONFIG_PINCTRL=y
CONFIG_PINCTRL_SINGLE=y
CONFIG_GPIO_NETX4000=y

#
# Filesystem support
#
CONFIG_FS=y
CONFIG_FS_EXT4=y
CONFIG_FS_RAMFS=y
CONFIG_FS_DEVFS=y
CONFIG_FS_FAT=y
CONFIG_FS_FAT_WRITE=y
CONFIG_FS_FAT_LFN=y

#
# Library routines
#
CONFIG_PARAMETER=y
CONFIG_UNCOMPRESS=y
CONFIG_ZLIB=y
CONFIG_PROCESS_ESCAPE_SEQUENCE=y
CONFIG_LZO_DECOMPRESS=y

#
# Crypto support
#
CONFIG_CRC32=y
CONFIG_CRC16=y
CONFIG_DIGEST=y
CONFIG_SHA256=y
CONFIG_SHA512=y
CONFIG_DIGEST_SHA256_ARM=y
CONFIG_DIGEST_SHA512_ARM=y
CONFIG_CRYPTO_RSA=y
