#
# netX4000 Architecture specific features
#
# (C) Copyright 2014
# Hilscher Gesellschaft fuer Systemautomation mbH, <www.hilscher.com>
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of
# the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#

choice
	prompt "DDR RAM Type"

config DDR_RAM_AS4C512M16D3L_12_2GIB
	bool "2GiB (AS4C512M16D3L-12)"

config DDR_RAM_IS43TR16256AL_1GIB
	bool "1GiB (IS43TR16256A)"

config DDR_RAM_OUT_OF_TREE
	bool "Out of tree DDR RAM parameters."
	help
		Select this to provide your own specific DDR RAM timing parameters.

endchoice

config DDR_RAM_OUT_OF_TREE_INCLUDE_400
	string "Include file for out of tree DDR RAM parameters (400MHz)."
	default "mach/as4c512m16d3l-12-2gib-400mhz.h"
	depends on DDR_RAM_OUT_OF_TREE

config DDR_RAM_OUT_OF_TREE_INCLUDE_600
	string "Include file for out of tree DDR RAM parameters (600MHz)."
	default "mach/as4c512m16d3l-12-2gib-600mhz"
	depends on DDR_RAM_OUT_OF_TREE

config DDR400_RAM_INCLUDE
	string
	default "mach/as4c512m16d3l-12-2gib-400mhz.h" if DDR_RAM_AS4C512M16D3L_12_2GIB
	default "mach/is43tr16256al-1gib-400mhz.h" if DDR_RAM_IS43TR16256AL_1GIB
	default DDR_RAM_OUT_OF_TREE_INCLUDE_400 if DDR_RAM_OUT_OF_TREE

config DDR600_RAM_INCLUDE
	string
	default "mach/as4c512m16d3l-12-2gib-600mhz.h" if DDR_RAM_AS4C512M16D3L_12_2GIB
	default "mach/is43tr16256al-1gib-600mhz.h" if DDR_RAM_IS43TR16256AL_1GIB
	default DDR_RAM_OUT_OF_TREE_INCLUDE_600 if DDR_RAM_OUT_OF_TREE

config ENABLE_DDR_ECC
	bool "Enable ecc for DDR-RAM"
	default n
	help
		Enables ecc for DDR-RAM.
		NOTE: This feature will slow down the boot process due to the memory initialization time.
